__pycache__/
*.pyc
.venv/
*_numeracja.dxf
*_pismo.docx
*_rozbudowana.xlsx
*_uproszczona.xls
*_orientacja.dxf
*_orientacja.jpg
*_orientacja.jgw
dane/kafle/
dane/cache_geokodowania.json
build/
dist/
*.spec
